body{
    background-color: white;
    margin: 0px;
}
.nav-sec{
    width: 100%;
    margin: auto;
}
.nav-div{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.nav-div1{
    width: 30%;
    float: left;
}
.nav-div2{
    width: 70%;
    float: left;
    text-align: right;
}
.nav-left{
    color: rgb(83, 82, 82);
    font-family: sans-serif;
    font-size: 20px;
}
.nav-span{
    color: rgb(50, 172, 46);
    font-family: sans-serif;
}
ul li{ 
    display: inline;   
}
a{
    color: rgb(83, 82, 82);
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 20px;
}
a:hover{
    color: rgb(50, 172, 46);
}
.nav-search{
    font-family: sans-serif;
    color: rgb(83, 82, 82);
    font-size: 15px;
    padding: 10px;
    border: 1px solid rgb(162, 160, 160);
    border-radius: 7px;
}
.nav-button{
    font-family: sans-serif;
    color: rgb(50, 172, 46);
    background-color: white;
    font-size: 15px;
    padding: 10px;
    border: 1px solid rgb(50, 172, 46);
    border-radius: 7px;
    width: 10%;
}
.nav-button:hover{
    color: white;
    background-color: rgb(50, 172, 46);
}
.section1{
    width: 100%;
    margin: auto;
    background-image: url("../../Images/introimg1.jpg");
    background-size: cover;
    height: 60vh;
    display: flex;
}
.sec1-div{
    width: 80%;
    margin: auto;
}
.section2{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
.sec2-div{
    width: 80%;
    margin: auto;
}
.sec2-div1{
    width: 25%;
    float: left;
}
.sec2-div2{
    width: 25%;
    float: left;
}
.sec2-div3{
    width: 25%;
    float: left;
}
.sec2-div4{
    width: 25%;
    float: left;
}
.sec2-p{
    font-family: sans-serif;
    color:  rgb(83, 82, 82);
    line-height: 25px;
}
.sec2-p1{
    font-family: sans-serif;
    color:  rgb(83, 82, 82);
    /* line-height: 25px; */
    font-size: 40px;
}
.section3{
    width: 100%;
    margin: auto;
    margin-top: 70px;
    text-align: center;
}
.sec3-div{
    width: 80%;
    margin: auto;
}
/* .sec3-content{
    text-align: center;
} */

.sec3-div1{
    width: 25%;
    float:left;
}
.sec3-box{
    margin: 30px;
    border-radius: 20%;

}
.sec3-head{
    font-family: sans-serif;
    color: black;
    font-size: 30px;
}