.fitem{
    background-color: rgb(33, 135, 135);
    margin: 20px;
    width: 100px;
    height: 100px;
}
.fcontainer{
    display: flex;
    height: 400px;
    /* justify-content: center;
    justify-content: space-around; */
    /* align-items: center; */
    flex-wrap: wrap;
} 
.fitem1{ 
    flex-grow: 2;
    flex-shrink: 2;
    order: 4;
}
.fitem2{
    flex-grow: 3;
    order: 2;
    align-self: center;
}
.fitem3{
    flex-grow: 4;
    order: 1;
}
.fitem4{
    order: 3;
}