.s1{
    width: 80%;
    margin: auto;
}
.s1-div1{
    width: 30%;
    float: left;
    margin-top: 20px;
}
.s1-div2{
    width: 70%;
    float: left;
    text-align: right;
    margin-top: 30px;
}
ul li{ 
    display: inline;   
}
a{
    color: rgb(118, 114, 114);
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 20px;
}
.hh1{
    background-color: rgb(232, 37, 66);
    color: white;
    font-family: sans-serif;
    text-align: center;
    width: 30%;
    padding: 10px;
}
a:hover{
    color: rgb(232, 37, 66);
}
.home{
    Position: relative;
    display: inline-block;
}
.dropdown-home{
    color: rgb(118, 114, 114);
    width: 210px;
    text-align: left;
    line-height: 25px;
    border: 1px solid rgb(135, 136, 136);
    display: none;
    position: absolute;
    margin-top: 20px;
    padding: 5px;
}
/* .dropdown-link:hover{
    color: rgb(118, 114, 114);
} */
.home:hover .dropdown-home{
    display: block;
}
.div1{
    width: 60%;
    float: left;
    margin-top: 30px;
}
.div2{
    width: 40%;
    float: left;
    margin-top: 30px;
}
h1{
    font-size: 50px;
    font-family: sans-serif;
    color: rgb(48, 47, 47);
    text-align: left;
    font-weight: 900;
    margin-bottom: 2px;
}
.p1{
    font-family: sans-serif;
    color: rgb(48, 47, 47);
    text-align: left;
    line-height: 25px;
}
.img1{
    height: 250px;
    width: 400px;
    display: block;
    margin-left: 50px;
}
.div3{
    text-align: center;
    margin-top: 80px;
}
.div4{
    text-align: center;
    margin-top: 50px;
}
.div5{
    text-align: center;
    margin-top: 80px;
}
.heading{
    font-family: sans-serif;
    color: rgb(48, 47, 47);
    font-weight: 800;
    margin-bottom: 0px;   
}
.heading1{
    font-family: sans-serif;
    color: rgb(48, 47, 47);
    letter-spacing: 2px;   
}
span{
    font-family: sans-serif;
    color: rgb(232, 37, 66);
}
.p2{
    font-family: sans-serif;
    color: rgb(48, 47, 47);
    line-height: 25px;
    padding: 5px;
}
.d1{
    width: 33.3%;
    float: left;
    /* text-align: left; */
    margin-top: 70px;

}
.d2{
    width: 33.3%;
    float: left;
    /* text-align: left; */
    margin-top: 70px; 
}
.d3{
    width: 33.3%;
    float: left;
    /* text-align: left; */
    margin-top: 70px;
}
.footer-jd{
    width: 100%;
    margin: auto;
    margin-top: 70px;
}
.footer-d1{
    width: 33.3%;
    float: left;
    background-color: black;  
}
.footer-d2{
    width: 33.3%;
    float: left;
}
.footer-d3{
    width: 33.3%;
    float: left;
}
.footer-box{
    width: 400px;
    height: 250px;
    border: 3px solid;
    margin: 20px;
    padding: 20px;
}
.footer-box2{
    border: 3px solid white;
    margin: 20px;
    padding: 20px;
}
.heading-footer{
    font-family: sans-serif;
    color: rgb(255, 252, 252);
    letter-spacing: 2px;  
}
.footer-text{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    line-height: 25px;
}
address{
    line-height: 30px;
    font-family: sans-serif;
    color: rgb(48, 47, 47);
}
.list li{
    display: block;
    line-height: 30px;
}
/* .list li a:hover{
    background-color: rgb(232, 37, 66);
    color: white;
    font-family: sans-serif;
    text-align: center;
    width: 25%;
    padding: 5px;
} */
body{
    margin: 0px;
}
.clear{
    clear: both;
}